<table class="ui table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Title</th>
      <th>Link</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each bookmark.resources}}
      <tr>
        <td>
          <img src="{{picture}}">
        </td>
        <td>
          {{title}}
        </td>
        <td>
          <a href="{{link}}" target="_blank" class="ui button"><i class="ui external link alternate icon"></i></a>
        </td>
         <td>
          <a href="/bookmark/{{../bookmark.id}}/deleteresource/{{id}}" class="ui button" id="delresource" ><i class="ui trash icon"></i></a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>