{{> menu}}

<section class="ui center aligned middle aligned segment">
  <h1 class="ui header">
    Welcome to Webmark, {{fullname}}!
  </h1>
  <p>
    A Glitch app which allows a user delete existing list of bookmarks about programming websites.
  </p>
  <p>
    
    <div class="holder">
                    <div class="holder-img">
                        <img src="https://cdn.glitch.com/46a240eb-89aa-42f6-acf0-3366cb3df7cc%2FHTML5_CSS_JavaScript.png?1519734056086"
                             alt="htmlcssjavascript">
                    </div>
                    <div class="holder-hover">
                        <div class="desc">
                            <h4><a href="/dashboard">Go to bookmarks</a></h4>
                        </div>
      </div>
  </div>
     Move your mouse over the image for another view
  </p>

<!-- {{> liststatistics}} -->

<h2>
  Current user:
</h2>
<div class="statistics">
<div class="ui statistic">
  <div class="label">
    Bookmark collections:
  </div>
  <div class="value">
    {{userBookmarks.length}}
  </div>
</div>

<div class="ui statistic">
  <div class="label">
    Bookmarks:
  </div>
  <div class="value">
    {{totalUserBookmarkResources}}
  </div>
</div>

<div class="ui statistic">
  <div class="label">
    Avg bookmarks per collection:
  </div>
  <div class="value">
    {{averageNoUserBookmarks}}
  </div>
</div>
<br>
<div class="ui green statistic">
  <div class="label">
    Biggest bookmark collection:
  </div>
  <div class="value">
    {{biggestUserCollectionName}}
  </div>
</div>

<div class="ui red statistic">
  <div class="label">
    Smallest bookmark collection:
  </div>
  <div class="value">
    {{smallestUserCollectionName}}
  </div>
</div>
</div>

<h2>
  All users:
</h2>
<div class="statistics">
<div class="ui statistic">
  <div class="label">
    Bookmark collections:
  </div>
  <div class="value">
    {{bookmarks.length}}
  </div>
</div>

<div class="ui statistic">
  <div class="label">
    Bookmarks:
  </div>
  <div class="value">
    {{totalBookmarkResources}}
  </div>
</div>

<div class="ui statistic">
  <div class="label">
    Avg bookmarks:
  </div>
  <div class="value">
    {{averageNoBookmarks}}
  </div>
</div>
<br>
<div class="ui green statistic">
  <div class="label">
    Most bookmarks:
  </div>
  <div class="value">
    {{mostBookmarksUser}}
  </div>
</div>

<div class="ui red statistic">
  <div class="label">
    Least bookmarks:
  </div>
  <div class="value">
    {{leastBookmarksUser}}
  </div>
</div>
</div>

</section>